<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <h1>This is the home page</h1>
  <h3><%= "Apnacollege".toUpperCase() //any operation %> </h3>
  <h3><%=  ["Hello", "bonjour", "namaste", "priviot"][3].toUpperCase()//any operation %> </h3>
  <h3><%= 3*5 //any operation %> </h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, dignissimos? Beatae, deserunt ut fugit rerum praesentium voluptate repudiandae quas impedit recusandae ullam! Consectetur explicabo amet suscipit labore, quod impedit nobis?
    Minima aspernatur error quia ullam veniam perferendis dolorum accusamus enim, totam fuga fugit perspiciatis alias commodi labore, itaque sed voluptatum ipsa! Laboriosam architecto dolores ut molestias cupiditate suscipit nisi provident!
    Dignissimos iure magni alias illo recusandae quis reiciendis soluta accusantium ullam libero pariatur doloremque distinctio cupiditate quas harum sequi nemo, quasi sed vero voluptate beatae consectetur rerum perspiciatis. Natus, officiis.
    Voluptates cumque quis praesentium nostrum, quisquam voluptate non eveniet veritatis, beatae laboriosam ullam dicta nemo eos officiis obcaecati facere dolor sint tempore quia consequuntur nisi unde. Recusandae consequatur obcaecati sequi.
    Dolores illo commodi dolorem voluptatum molestias tempora sit quibusdam voluptatem obcaecati aspernatur repudiandae quis praesentium voluptatibus veniam ut adipisci molestiae incidunt, consequuntur quam architecto. Laudantium iure atque consequatur architecto quia!
  </p>
  <button>Click me!</button>
</body>
  </html>