<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instagram clone</title>
</head>
<body>
  <h3>This account belongs to @<%= username %></h3>
  <button>Follow</button>
  <button>Meassage</button>

  <h3>Accounts that follows you : </h3>
  <ul>
  <% for(let user of followers){ %>
    <li><%= user %> </li>
    <% } %>
  </ul>
</body>
</html>